.chatavatar {
    width: 45px;
    height: 45px;
}

.sender {
    margin-left: 20px;
}

.messageInput {
    margin-bottom: 10px;
    margin-top: 5px;
    width: 98%;
}

.list-group-item {
    border-bottom: 1px !important;
}
